html, body {
    max-width: 100%;
    overflow-x: hidden;
    color: #0A1725;
    background-color: rgba(233,240,255, 0.2);
    font-family: 'Lato', sans-serif;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: #0A1725;
}

h1 {
    font-size: 60px;
}

h3 {
    padding-top: 10px;
}

.navbar{
    background-color: rgba(233,240,255, 0.9);
    border: none;
}

.center {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 30%;
    left: 25%;
}

.jumbotron {
    width: 100%;
    border: 1px solid #101010;
    height: 200px;
}

.well {
    margin-left: auto;
    margin-right: auto;
    padding: 25px 20px 25px 20px;
}

.card {
    padding-bottom: 50px;
}

.toFade {
     display: none;
}

.navMain {
    height: 50px;
    margin-top: 15px;
    position: relative;
}

.navMain ul {
    position: absolute;
    float: right;
    bottom: 0;
}

.nav-pills a:hover {
    background-color: rgba(61,85,109, 0.4) !important;
}

.contentArrow {
    color: #101010;
    position: absolute;
    width: 50%;
    height: 20%;
    top: 75%;
    left: 25%;
}


.page-section {  
    padding-bottom: 20px;
    min-height: 100vh;
    max-height: 200%;
}

.parallax {
    background-image: url("/img/bg2.jpeg");
    background-size: 150% 150%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
}

.parallaxSmall {
    background-image: url("/img/grey-pattern.png");
    height: 10px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
}

.quote {
    text-align: center;
}

.post-body {
    text-align: justify;
    padding: 0px 20px 0px 20px;
}

.attr {
   float: right;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
    background-color: #8CAACC !important;
}

footer {
    color: white;
    background-image: url("/img/grey-pattern.png");
    margin-top: 75px;
}

#About, #Portfolio, #Testimonials {
    padding-top: 75px;
}

.sectionHeader {
    padding-bottom: 100px;
}