html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

body {
    padding-top: 40px;
}

h1 {
    font-size: 60px;
}

.center {
    color: floralwhite;
    text-shadow: 1px 1px #000000;
    text-align: justify;
    position: absolute;
    max-width: 50%;
    max-height: 15%;
    top: 50%;
    left: 50%;
    margin-top: -130px;
    margin-left: -500px;
    
}

.toFade {
     display: none;
}

.navMain {
    height: 50px;
    margin-top: 15px;
    position: relative;
}

.navMain ul {
    position: absolute;
    float: right;
    bottom: 0;
}

.parallax {
    background-image: url("/img/grey-pattern.png");
    width: 100%;
    
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
}

.parallaxSmall {
    background-image: url("/img/grey-pattern.png");
    height: 10px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
}

footer {
    color: white;
    background-color: #505050;
}
