<!DOCTYPE html>
<html>
    <head>
        <title>- CCapps Development -</title> 
        <meta charset="utf-8" />
        <script src="/jquery/jquery.js"></script>
        <script src="/bootstrap/js/bootstrap.js"></script>
        <script src="/scripts/main.js"></script>
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
        <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css"/>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    </head>
    
    <body id="Top">
        
        <!- Main Container ->
        <div>
            
            <!- First row: Logo, Name and Nav bar ->
            <div class="row">
                                    
                <nav class="navbar navbar-default navbar-fixed-top">
                    
                    <div class="container">
                        
                        <div class="col-md-6">
                            
                            <a href="#Top"><h3>CCapps Development</h3></a>
                            
                        </div>
                                            
                        <div class="col-md-6 navMain">
                            
                            <ul class="nav nav-pills navbar-right">
                                
                                <li><a href="#About">About</a></li>
                                <li><a href="#Portfolio">Portfolio</a></li>
                                <li><a href="#Testimonials">Testimonials</a></li>
                                <li><a href="#Blog">Blog</a></li>
                                <li><a href="#Contact">Contact</a></li>
                                
                            </ul>
                            
                        </div>
                        
                    </div>
                    
                </nav>
                    
            </div><!- END ROW 1 ->
            
            <!- Second row: Landing info, paralax background ->
            <div class="row" id="Home">
                
                <div class="col-md-12">                    
                        
                    <div class="parallax">
                            
                        <div class="col-md-12 center toFade" id="landingInfo">
                            
                            <h1><strong>Full-Stack Web Developer</strong></h1> <br>

                            <h4>
                                Freelance developer based in Huntsville, AL.
                            </h4>

                            <br><br><br>

                            <center><a class="btn" href="#About"><strong>Learn More</strong><br> <i class="fa fa-angle-down"  style="font-size: 50px;"></i></a></center>

                        </div>

                    </div>

                </div>
            
            </div><!- END ROW 2 ->
            
            <br /><br />
            
            <!- Third row: About Me ->
            <div class="row page-section">
                
                <div class="container" id="About">
                    
                    <div class="col-md-12">
                        
                        <h1 id="aboutHeader" style="display: none;"> About Me </h1>
                        
                    </div>
                    
                    <div class="col-md-4 toFade" id="block1">
                        
                        <h2>Doublefine Tooth Raking</h2> <br>
                        
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis vehicula dapibus. Pellentesque sed est diam. Nunc et fringilla ipsum. Nam tempor vestibulum ornare.
                        </p>
                        
                    </div>
                    
                    <div class="col-md-4 toFade" id="block2">
                        
                        <h2>Camel Gist Orange Snack</h2> <br>
                        
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis vehicula dapibus. Pellentesque sed est diam. Nunc et fringilla ipsum. Nam tempor vestibulum ornare.
                        </p>
                        
                    </div>
                    
                    <div class="col-md-4 toFade" id="block3">
                        
                        <h2>Random Sample lung Farse</h2> <br>
                        
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis vehicula dapibus. Pellentesque sed est diam. Nunc et fringilla ipsum. Nam tempor vestibulum ornare.
                        </p>
                        
                    </div>
                    
                </div>
                
            </div> <!- END ROW 3 ->
            
            <div class="parallaxSmall"></div>
            
            <!- Fourth row: Portfolio ->
            <div class="row page-section">
                
                <div class="container" id="Portfolio">
                    
                    <div class="col-md-12">
                        
                        <h1>Portfolio</h1>
                    
                    </div>
                    
                    <div class="col-md-4">
                        
                        <div class="card" style="width: 30rem;">
                            
                            <img class="card-img-top" src="/img/profile.png">
                            
                            <div class="card-block">
                                
                                <h4 class="card-title">Project 01 - TBA</h4>
                                
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the card's content.
                                </p>
                                
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                    <div class="col-md-4">
                        
                        <div class="card" style="width: 30rem;">
                            
                            <img class="card-img-top" src="/img/profile.png">
                            
                            <div class="card-block">
                                
                                <h4 class="card-title">Project 01 - TBA</h4>
                                
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the card's content.
                                </p>
                                
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                    <div class="col-md-4">
                        
                        <div class="card" style="width: 30rem;">
                            
                            <img class="card-img-top" src="/img/profile.png">
                            
                            <div class="card-block">
                                
                                <h4 class="card-title">Project 01 - TBA</h4>
                                
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the card's content.
                                </p>
                                
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div> <!- END ROW 4 ->
            
            <div class="parallaxSmall"></div>
            
             <!- Fifth row: Testimonials ->
            <div class="row page-section">
                
                <div class="container" id="Testimonials">
                    
                    <div class="col-md-12">
                        
                        <h1>Testimonials</h1>
                        
                    </div>
                    
                    <div class="col-md-12">
                        
                        <div class="well">
                            
                            <h1><i class="fa fa-quote-left" aria-hidden="true"></i></h1> <br>
                            
                            <p>
                                There aren't many developers as dedicated and knowledgeable as Mr. Capps. His passion for all things computing shines clearly through the solutions he delivers. I had the pleasure of working with Mr. Capps on an educational web application built on MEAN stack technologies. I was impressed particularly by his ability to adapt to constantly changing requirements and to pick up new technologies on the fly. Whenever things started to get stressful, he somehow always kept his cool, and as a result, our project never really felt like work. I highly recommend Mr. Capps to anyone in need of custom software, no matter the technologies involved.
                            </p>
                            
                            <br>
                            
                            <small>-Some Guy De La Rossa</small>

                        </div>
                        
                        <div class="well">
                            
                            <h1><i class="fa fa-quote-left" aria-hidden="true"></i></h1> <br>
                            
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis vehicula dapibus. Pellentesque sed est diam. Nunc et fringilla ipsum. Nam tempor vestibulum ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis vehicula dapibus. Pellentesque sed est diam. Nunc et fringilla ipsum. Nam tempor vestibulum ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis vehicula dapibus. Pellentesque sed est diam. Nunc et fringilla ipsum. Nam tempor vestibulum ornare.
                            </p>
                            
                            <br>
                            
                            <small>-Some Guy De La Rossa</small>

                        </div>
                    
                    </div>
                    
                </div>
                
            </div> <!- END ROW 5 ->
            
            <!- Sixth row: Footer and Contact information ->
            <footer class="row">
                
                <div class="container">
                    
                    <div class="col-md-12">

                        <h1 id="Contact">Contact</h1>

                    </div>

                    <div class="col-md-12">

                        <h2>Culture Gluten Waffle Striker</h2> <br>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis vehicula dapibus. Pellentesque sed est diam. Nunc et fringilla ipsum. Nam tempor vestibulum ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis vehicula dapibus. Pellentesque sed est diam. Nunc et fringilla ipsum. Nam tempor vestibulum ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis vehicula dapibus. Pellentesque sed est diam. Nunc et fringilla ipsum. Nam tempor vestibulum ornare.
                        </p> 

                        <br>

                        <h2>Culture Gluten Waffle Striker</h2> <br>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis vehicula dapibus. Pellentesque sed est diam. Nunc et fringilla ipsum. Nam tempor vestibulum ornare.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis vehicula dapibus. Pellentesque sed est diam. Nunc et fringilla ipsum. Nam tempor vestibulum ornare.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis vehicula dapibus. Pellentesque sed est diam. Nunc et fringilla ipsum. Nam tempor vestibulum ornare.
                        </p>

                    </div>
                    
                </div>  
                
            </footer> <!- END ROW 6 ->
            
        </div>
    </body>
    
</html>